Task 1

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r"D:\Coding\Machine Learning 2025\Machine Learning Projects\Tele Customer Churn\WA_Fn-UseC_-Telco-Customer-Churn.csv")
Churn_num = (df["Churn"] == "Yes").sum()
Churn_num

np.int64(1869)

How I coded

In [4]:
churned = df["Churn"]=="Yes"
df[churned]["tenure"].mean()

np.float64(17.979133226324237)

The Actual way I should have coded

In [5]:
non_churn = df[df["Churn"] == "No"]
non_churn["tenure"].mean()

np.float64(37.572008505702684)

In [6]:
month = df["Contract"]=="Month-to-month"
df[churned][month].count()

C:\Users\user\AppData\Local\Temp\ipykernel_21520\288260614.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[churned][month].count()

customerID          1655
gender              1655
SeniorCitizen       1655
Partner             1655
Dependents          1655
tenure              1655
PhoneService        1655
MultipleLines       1655
InternetService     1655
OnlineSecurity      1655
OnlineBackup        1655
DeviceProtection    1655
TechSupport         1655
StreamingTV         1655
StreamingMovies     1655
Contract            1655
PaperlessBilling    1655
PaymentMethod       1655
MonthlyCharges      1655
TotalCharges        1653
Churn               1655
dtype: int64

In [7]:
churned_customers = df[df['Churn'] == 'Yes']
churn_by_contract = churned_customers['Contract'].value_counts()
print(churn_by_contract)

Contract
Month-to-month    1655
One year           166
Two year            48
Name: count, dtype: int64

Task 2

In [8]:
df["TotalCharges"] = df["TotalCharges"].isna().mean()
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,0.000568,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,0.000568,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,0.000568,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,0.000568,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,0.000568,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,0.000568,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,0.000568,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,0.000568,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,0.000568,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,0.000568,No

In [9]:
df2 = df.copy()
category = np.empty(0)
for col in df2.columns:
    if df2[col].dtype=="object":
        category = np.append(category, col)
category

array(['customerID', 'gender', 'Partner', 'Dependents', 'PhoneService',
       'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'Churn'], dtype='<U32')

In [10]:
from sklearn.preprocessing import LabelEncoder

encoders = {}

for col in category:
    le = LabelEncoder()
    df2[col + "_encoded"] = le.fit_transform(df2[col])
    encoders[col] = le
df2.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,OnlineSecurity_encoded,OnlineBackup_encoded,DeviceProtection_encoded,TechSupport_encoded,StreamingTV_encoded,StreamingMovies_encoded,Contract_encoded,PaperlessBilling_encoded,PaymentMethod_encoded,Churn_encoded
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,0,2,0,0,0,0,0,1,2,0
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,2,0,2,0,0,0,1,0,3,0
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,2,2,0,0,0,0,0,1,3,1
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,2,0,2,2,0,0,1,0,0,0
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,0,0,0,0,0,0,0,1,2,1

In [11]:


from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse_output=False)
for col in category:
    df2[col] = ohe.fit_transform(df2[[col]])
df2.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,OnlineSecurity_encoded,OnlineBackup_encoded,DeviceProtection_encoded,TechSupport_encoded,StreamingTV_encoded,StreamingMovies_encoded,Contract_encoded,PaperlessBilling_encoded,PaymentMethod_encoded,Churn_encoded
0,0.0,1.0,0,0.0,1.0,1,1.0,0.0,1.0,1.0,...,0,2,0,0,0,0,0,1,2,0
1,0.0,0.0,0,1.0,1.0,34,0.0,1.0,1.0,0.0,...,2,0,2,0,0,0,1,0,3,0
2,0.0,0.0,0,1.0,1.0,2,0.0,1.0,1.0,0.0,...,2,2,0,0,0,0,0,1,3,1
3,0.0,0.0,0,1.0,1.0,45,1.0,0.0,1.0,0.0,...,2,0,2,2,0,0,1,0,0,0
4,0.0,1.0,0,1.0,1.0,2,0.0,1.0,0.0,1.0,...,0,0,0,0,0,0,0,1,2,1

In [12]:
num_col = np.empty(0)
for col in df2.columns:
    if df2[col].dtype=="int": 
        num_col = np.append(num_col, col)

from sklearn.preprocessing import StandardScaler

Std = StandardScaler()
for col in num_col:
    df2[col] = Std.fit_transform(df2[[col]])
df2.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,OnlineSecurity_encoded,OnlineBackup_encoded,DeviceProtection_encoded,TechSupport_encoded,StreamingTV_encoded,StreamingMovies_encoded,Contract_encoded,PaperlessBilling_encoded,PaymentMethod_encoded,Churn_encoded
0,0.0,1.0,-0.439916,0.0,1.0,-1.277445,1.0,0.0,1.0,1.0,...,-0.918838,1.242550,-1.027910,-0.925262,-1.113495,-1.121405,-0.828207,0.829798,0.398558,-0.601024
1,0.0,0.0,-0.439916,1.0,1.0,0.066327,0.0,1.0,1.0,0.0,...,1.407321,-1.029919,1.245111,-0.925262,-1.113495,-1.121405,0.371271,-1.205113,1.334863,-0.601024
2,0.0,0.0,-0.439916,1.0,1.0,-1.236724,0.0,1.0,1.0,0.0,...,1.407321,1.242550,-1.027910,-0.925262,-1.113495,-1.121405,-0.828207,0.829798,1.334863,1.661409
3,0.0,0.0,-0.439916,1.0,1.0,0.514251,1.0,0.0,1.0,0.0,...,1.407321,-1.029919,1.245111,1.396299,-1.113495,-1.121405,0.371271,-1.205113,-1.474052,-0.601024
4,0.0,1.0,-0.439916,1.0,1.0,-1.236724,0.0,1.0,0.0,1.0,...,-0.918838,-1.029919,-1.027910,-0.925262,-1.113495,-1.121405,-0.828207,0.829798,0.398558,1.661409

In [13]:
df.loc[2]=df.loc[4]
df.loc[56]=df.loc[34]
df.loc[52]=df.loc[47]
df.drop_duplicates(inplace=True)
df.duplicated().sum()

np.int64(0)

In [14]:
df["AvgChargesPerMonth"] = df["TotalCharges"]/(df["tenure"]+1)
df["isSenior"] = np.where(df["SeniorCitizen"] == 1, 1, 0)
df.head(6)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,AvgChargesPerMonth,isSenior
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,Month-to-month,Yes,Electronic check,29.85,0.000568,No,0.000284,0
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,No,One year,No,Mailed check,56.95,0.000568,No,0.000016,0
2,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,Month-to-month,Yes,Electronic check,70.70,0.000568,Yes,0.000189,0
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,No,No,One year,No,Bank transfer (automatic),42.30,0.000568,No,0.000012,0
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,0.000568,Yes,0.000063,0
6,1452-KIOVK,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No,...,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,0.000568,No,0.000025,0

In [15]:
import sqlite3

conn = sqlite3.connect(r"D:\Coding\Machine Learning 2025\Machine Learning Projects\Tele Customer Churn\WA_Fn-UseC_-Telco-Customer-Churn.csv")

df.to_sql("customers", conn, index = False)
query = "SELECT * FROM customers WHERE "
ques1 = pd.read_sql(query, conn)

DatabaseError: Execution failed on sql '
        SELECT
            name
        FROM
            sqlite_master
        WHERE
            type IN ('table', 'view')
            AND name=?;
        ': file is not a database